
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #6a6a6a;
}
.header-links p{
    font-size: 14px;
}
.header-text .language-icon{
    font-size: 19px;
    border-radius: 20px;
    width: 24px;
    height: 28px;
    padding: 5px;
}

.profile-menu-icons{
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid lightgray;
    color: #6a6a6a;
    width: 86px;
    height: 48px;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    
}
.language-icon{
    
    margin-top: 10px;
     
 }
.profile-menu-icon {
    display: flex;
    margin-left: 350px;  
}

.Become-host{
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 50px; 
}
.profile-menu-icons:hover{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}
.profile-menu-icons .menu-icon{
    font-size: 20px;
}
.profile-menu-icons .account-icon{
    font-size: 32px;
}

.header img{
    width: 102px;
}
.header-text{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    color:#fff;
    margin: 0 0 0 150px;
}
.header-bottom{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    background-color: #fff;
    color: #000;
    border-radius: 100px;
}
.header-search{
    display: flex;
    gap: 40px;
    /* padding: 20px; */
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-input{
    display: flex;
    align-items: center;
}
input:focus {
    outline: none;
    border: none;
}
.search-input input{
    border: none;
}
.search-button{
    color:white;
    border: none;
}
.search-checkin, .search-checkout, .search-who{
    border-left: 1px solid lightgray;
    padding: 0 0 0 20px;
}
.banner-search{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}


.date-picker {
    border: 1px solid lightgray;
}
.date-picker::placeholder {
    color: #bbb;
}
.date-picker:focus {
    outline: none;
}

.search-who {
    position: relative;
}
.search-button{
    color: #bbb;
}
.guest-popup {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.close-popup {
    background-color: #ff7779;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}
.close-popup:hover {
    background-color: #ff4444;
}

.guest-selector {
    display: flex;
    align-items: center;
}
.guest-button {
    background-color: #ff7779;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
}
.guest-button:hover {
    background-color: #ff4444;
}
.guest-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 0 5px;
    color: #bbb;
}
.guest-input:focus {
    outline: none;
    border: 1px solid #ff7779;
    box-shadow: 0 0 5px rgba(255, 119, 121, 0.5);
}
.search-checkin, .search-checkout {
    display: flex;
    flex-direction: column;
}