.Questions{
    position: relative;
    color: #fff;
    top: 8px;
  
}

h2 {
    position: absolute;
    padding: 100px;
    display: block;
}
.Qbutton{
    position: absolute;
    top: 150px;
    left: 120px;
    
}

.Qbutton:hover{
    background-color: red;
}